<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign in</title>
</head>
<body>
<div align="center">
    <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        <h3> Sign in </h3>
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Login">

        {% if error %}
            <p> Incorrect login or password. </p>
        {% endif %}
    </form>
</div>
</body>
</html>
